test_shots/post_apocalyptic_drone_attack/.DS_Store
.DS_Store
test_shots/agent_runs_from_explosion/.DS_Store
test_shots/man_running_up_stairs/.DS_Store
test_shots/man_wakes_in_abandoned_building/.DS_Store
test_shots/post_apocalyptic_drone_attack/.DS_Store
